/**基本格式开始***************/
body,div,ul,ol,li,dl,dt,dd,h1,h3,h5,h6{
	text-align: center;
}
h2 {
    margin: 5px 0 0 65px;
}

hr {
    margin: 5px 50px 0 50px;
}
ul {
	list-style:none;
}
img,a img {
	border:none;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

.auto {
	width:980px;
	margin:0 auto;
}
/**基本格式结束***************/

#main {
    margin: 0 auto;
}
/*wrap定义了中间部分居中 开始*/
#wrap {
	/*width:920px;
	height:850px;
	margin:0 auto;*/
}
/*wrap定义了中间部分居中 结束*/

/*wrap定义了中间部分的左侧 开始*/
#wrap #leftBody {
	width:320px;
	height:450px;
	margin-left: 10px;
	float:left;
}
/*wrap定义了中间部分的左侧 结束*/
/*右侧相同 开始*/
#wrap #rightBody {
	width:440px;
	height:450px;
    margin: 0 auto;
	float:left;
    padding-left: 30px;
}
#wrap #rightBody2 {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}
#wrap #m1 {
    margin: 0 auto;
    float:left;
}
/*右侧相同 结束*/

/*底部开始**************/
#footer {
	height:100px;
	background:url(footer_bg.jpg) repeat-x;
}
#footer p {
	text-align:center;
	color:#ffffff;
	line-height:200%;
}
#footer p.p1 {
	padding-top:15px;
}
#footer p a {
	color:#ffffff;
	text-decoration:underline;
	margin:0 20px 0 0;
}
#footer p a.last {
	margin:0;
}
/*底部结束**************/